<script src="CustomerController.js"></script>
<div ng-controller="customerController" ng-init="listcustomer = true; editcustomer = false ; createcustomer = false">

    <!--<button ui-sref="create">Create</button>-->
    <div style="margin-bottom: 10px;" ng-show="listcustomer">
        <button class="active" ng-click="Create()">Create</button>
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Edit</th>
                <th>Dele</th>
            </tr>
            <tr ng-repeat="item in myData">
                <td>{{item.Id}}</td>
                <td>{{item.Name}}</td>
                <td><button ng-click="Edit(item)">Edit</button></td>
                <td><button ng-click="deleteData(item.Id)">Delete</button></td>
            </tr>
        </table>
    </div>
    <div ng-show="editcustomer">
        <p>Id: <input type="text" ng-model="id" ng-disabled="myId"></p>
        <p>Name: <input type="text" ng-model="name"></p>

        <button ng-click="editData(id, name)" value="editData">edit</button>
    </div>
    <div ng-show="createcustomer">
        <p>Id: <input type="text" ng-model="id"></p>
        <p>Name: <input type="text" ng-model="name"></p>


        <button ng-click="postData(id, name)">Add</button>
    </div>
</div>
