<script src="OrderController.js"></script>
<div ng-controller="orderController" ng-init="listorder = true; editorder = false ; createorder = false">

    <!--<button ui-sref="create">Create</button>-->
    <div style="margin-bottom: 10px;" ng-show="listorder">
        <button class="active" ng-click="Create()">Create</button>
        <table>
            <tr>
                <th>Id</th>
                <th>Customer Id</th>
                <th>Product Id</th>
                <th>Quantity</th>
                <th>Edit</th>
                <th>Dele</th>
            </tr>
            <tr ng-repeat="item in myData">
                <td>{{item.Id}}</td>
                <td>{{item.CustomerID}}</td>
                <td>{{item.ProductID}}</td>
                <td>{{item.QuantityOrder}}</td>
                <td><button ng-click="Edit(item)">Edit</button></td>
                <td><button ng-click="deleteData(item.Id)">Delete</button></td>
            </tr>
        </table>
    </div>
    <div ng-show="editorder">
        <p>Id: <input type="text" ng-model="id" ng-disabled="myId"></p>
        <p>Customer Id: <input type="text" ng-model="customerid"></p>
        <p>Product Id: <input type="text" ng-model="productid"></p>
        <p>Quantity: <input type="text" ng-model="quantity"></p>
        <button ng-click="editData(id, customerid, productid, quantity)" value="editData">edit</button>
    </div>
    <div ng-show="createorder">
        <p>Id: <input type="text" ng-model="id" ng-disabled="myId"></p>
        <p>Customer Id: <input type="text" ng-model="customerid"></p>
        <p>Product Id: <input type="text" ng-model="productid"></p>
        <p>Quantity: <input type="text" ng-model="quantity"></p>

        <button ng-click="postData(id, customerid, productid, quantity)">Add</button>
    </div>
</div>
